{# templates/article/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Liste des Articles{% endblock %}

{% block body %}
    <h1>Liste des Articles</h1>

    <ul>
        {% for article in articles %}
            <li>
                <a href="{{ path('article_show', {'id': article.id}) }}">
                    {{ article.title }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <a href="{{ path('article_new') }}">Créer un nouvel article</a>
{% endblock %}
