{# FILEPATH: /c:/Users/bapti/Desktop/test/symfony/test_competences/project/templates/article/show.html.twig #}

{% extends 'base.html.twig' %}

{% block content %}
    <h1>{{ article.title }}</h1>
    <p>{{ article.content }}</p>
{% endblock %}
